@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 100vh;
  background-color: #ece6e6b8;
  overflow: hidden;
}

header{
    width: 100%;
    height: 70px;
    background: #fff;
    text-align: center;
}

header .logo .menu-icon {
    position: absolute;
    top: 15px;
    left: 5px;
    color: #333;
    font-size: 40px;
    margin-left: 20px;
    cursor: pointer;
    z-index: 10;
}

.hidden-btn{
    position: absolute;
    top: 15px;
    left: 5px;
    color: #333;
    font-size: 40px;
    margin-left: 20px;
    cursor: pointer;
    z-index: 0;
}


header .title{
    position: relative;
    top: 10px;
}

nav .sidebar{
    position: fixed;
    top: 0;
    left: -100%;
    height: 100vh;
    width: 260px;
    padding: 20px 0;
    background-color: #ffffff6d;
    backdrop-filter: blur(10px);
    box-shadow: 0 5px 1px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
 }

nav.open .sidebar {
    left: 0;
}
.sidebar .sidebar-content {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 16px;
}
.sidebar-content .list {
    list-style: none;
}
  
.list .nav-link {
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding: 14px 12px;
    border-radius: 8px;
    text-decoration: none;
  }
  .lists .nav-link:hover {
    background-color: #ff0000;
  }
  .lists .nav-link:hover {
    background-color: #ff0000;
  }
  
  .nav-link .icon {
    margin-right: 14px;
    font-size: 20px;
    color: #707070;
  }
  .nav-link .link {
    font-size: 16px;
    color: #707070;
    font-weight: 400;
  }
.lists .nav-link:hover .icon,
.lists .nav-link:hover .link {
    color: #fff;
}
.overlay {
    position: fixed;
    top: 0;
    left: -100%;
    height: 1000vh;
    width: 200%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease;
    background: rgba(0, 0, 0, 0.3);
}
nav.open ~ .overlay {
    opacity: 1;
    left: 260px;
    pointer-events: auto;
}

div.img{
	font-size: 2em;
}

main{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

main .main-right{

  text-align: center;
  padding: 5vw;
  letter-spacing: 3px;
  h1{
	color:#21505e;
  }
}

main .main-left{
  padding: 2vw;
}



@media print {
  header{
    display: none;
  }  
  nav{
    display: none;
  }
  .container{
    display: none;
  }
  #btn-print{
    display: none;
  }
  .container-sm{
    margin-top: 10px;
  }
}