* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  width: 100%;
  height: 100vh;
  background-image: url(../assets/acceuil.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

header {
  width: 100%;
  height: 70px;
  background:#ece6e6b8;
  text-align: center;
  box-shadow: 0 0 0 0.75px black;
}

h1 {
  letter-spacing: 10px;
}
header .logo .menu-icon {
  position: absolute;
  top: 15px;
  left: 5px;
  color: #333;
  font-size: 40px;
  margin-left: 20px;
  cursor: pointer;
  z-index: 10;
}

.hidden-btn {
  position: absolute;
  top: 15px;
  left: 5px;
  color: #333;
  font-size: 40px;
  margin-left: 20px;
  cursor: pointer;
  z-index: 0;
}

header .title {
  position: relative;
  top: 10px;
}

nav .sidebar {
  position: fixed;
  top: 0;
  left: -100%;
  height: 100vh;
  width: 260px;
  padding: 20px 0;
  background-color: #ffffff6d;
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
}

nav.open .sidebar {
  left: 0;
}
.sidebar .sidebar-content {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 16px;
}
.sidebar-content .list {
  list-style: none;
}

.list .nav-link {
  display: flex;
  align-items: center;
  margin: 8px 0;
  padding: 14px 12px;
  border-radius: 8px;
  text-decoration: none;
}
.lists .nav-link:hover {
  background-color: #ff0000;
}
.lists .nav-link:hover {
  background-color: #ff0000;
}

.nav-link .icon {
  margin-right: 14px;
  font-size: 20px;
  color: #707070;
}
.nav-link .link {
  font-size: 16px;
  color: #707070;
  font-weight: 400;
}
.lists .nav-link:hover .icon,
.lists .nav-link:hover .link {
  color: #fff;
}
.overlay {
  position: fixed;
  top: 0;
  left: -100%;
  height: 1000vh;
  width: 200%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease;
  background: rgba(0, 0, 0, 0.3);
}
nav.open ~ .overlay {
  opacity: 1;
  left: 260px;
  pointer-events: auto;
}

main {
  width: 100%;
  height: 100vh;
}

/*
  Pour le css de l'acceuil de netfilter
*/

.content {
  margin: 100px 100px;
}

.content-item {
  position: relative;
  left: 10vw;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.content-item h1 {
  color: rgb(0, 0, 0);
  font-size: 3em;
  text-transform: uppercase;
  text-align: center;
}

.content-item h1:hover{
  color: #820f15;
}

.context {
  margin: 10vh 30vw;
  font-size: 1.3em;
  position: relative;
  right: 30vw;
}

.content a {
  padding: 15px;
  font-size: 1.5em;
  background-color: #324151;
  text-decoration: none;
  text-align: center;
  border-radius: 10px;
  color: white;
}
.image {
  background-image: url("../assets/netfilter.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 350px;
  height: 250px;
  display: flex;
  justify-content: flex-end;
  position: relative;
  bottom: 40vw;
  left: 50vw;
  transition: transform 0.3s, box-shadow 0.3s;
}

.image:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}
